:root {
  --height-header: 60px;
  --height-todoList: 300px;
  --height-todoList-header: 30px;

  --width-todoList: 400px;

  --color-blue: dodgerblue;
  --color-blue-li-hover: deepskyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
